.big-calendar-base-grid {
  /*default grid*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  /*---------*/

  display: grid;
  height: 130px;
  gap: 10px;
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  font-size: 14px;
  cursor: default;
}

.big-calendar-current {
  opacity: 1;
  background-color: #fff;
}

.big-calendar-current-month {
  opacity: 1;
}

.big-calendar-not-current-month {
  visibility: hidden;
  background-color: #ffa800;
}

.big-calendar-current-date {
  opacity: 1;
  position: relative;
}

.big-calendar-current-date::after {
  content: "오늘" !important;
  position: absolute !important;
  display: flex !important;
  padding: 5px 10px !important;
  justify-content: center !important;
  align-items: center !important;
  color: #fff !important;
  top: -3px !important;
  left: 40px !important;
  border-radius: 50% !important;
  background: #ffa800 !important;
}

.big-calendar-prev-date,
.big-calendar-after-date {
  opacity: 0.5;
}

@media screen and (max-width: 1520px) {
  .big-calendar-base {
    height: 10vh;
  }
}
